<p>Навчальний центр Sweet Mango пропонує послуги викладання іноземних мов з серпня 2012 року і на даний момент об’єднав команду
  знавців іноземних мов, які не можуть уявити свого життя без викладання.</p>
<h3>Чому навчаючись англійській мові в нашому центрі дасть високі результати?</h3>
<p>Ми всі-професійні викладачі англійської мови, з досвідом викладання від 4 років. Розуміємо, що програма навчання повинна відповідати
  особистим потребам та поставленим цілям. Перед початком навчання ми визначимо рівень вашої мови за допомогою тесту або усної співбесіди.</p>
<p>Ми працюємо на результат! Тому не ставимо якихось певних рамок в часі вивчення мови і даємо обіцянок, що ви за декілька місяців станете
   з повного початківця великим професіоналом. Але ми даємо гарантію, що ви станете ним, якщо ви будете працювати. </p>
<p>Англійська - це проста мова! Всі, що починали вивчати німецьку чи французьку підтвердять це. То чому, здається, що там все так заплутано
   (14+ часів) і всі так довго її вивчають? Наведемо в приклад прислів’я, що стосується роботи викладачів: «Якщо ви не в спромозі  пояснити щось
    просто, значить ви самі це не розумієте». </p>
<p> Ефективна методика. Найкраща методика - це та, яка дає швидкий та міцний результат. Ми не пропонуємо інноваційних методів вивчення мов,
   розуміючи, що для створення одного потрібні десятиліття практики. Тому користуємось визнаними у всьому світі посібниками, видавництв Оксворд,
    Макміллан, Пірсон і т.д. </p>
<p> Даємо масу безкоштовних порад, як краще вивчати мову поза classroom, порадимо фільми і серіали, відповідно до вашого рівня, книжки,
   аудіокниги чи відеоблоги. </p>
<p> Ми будуємо заняття так, щоб у Вас була можливість постійно спілкуватися англійською мовою. І починаєте спілкуватись з першого уроку навіть
  на початкових рівнях! І поступово, завдяки практиці, Ви починаєте говорити швидше, у Вашій мові з'являється все менше помилок, а про деякі
  речі Ви вже можете висловлюватись так, ніби говорите рідною мовою. </p>
