<h2>Англійська для компаній</h2>

<p>Наша команда викладачів пропонує різноманітні програми підготовки: для працівників із низьким чи відсутнім рівнем знань іноземної мови
  існують спеціальні програми для початківців; для осіб, що вже дійшли до певного рівня, пропонуємо курс, який в основному спрямований
  на розвиток навичок говоріння та подолання мовного бар’єру. З слухачами з високим рівнем англійської працюємо, використовуючи ролики
  , фільми, TED Talks, проводимо дискусії, рольові ігри. </p>
<p>Проводимо заняття у місцях, запропонованих замовником, у підготовлених для  навчання класах центру або можливе навчання через Skype.</p>
<p>За допомогою тестів та співбесід визначається рівень кожного фахівця та пропонується програма підготовки, яка дозволить швидко та якісно
   досягти поставленої мети. </p>
