<h2>Skype English lessons</h2>
<p>Навчальний центр Світ Манго пропонує унікальну можливість займатись англійською у зручний для Вас час та у комфортних або о умовах. Ви не будете витрачати свої кошти та час на додаткові поїздки. </p>
<p>Часто студенти доволі скептично ставляться до навчання через Скайп, вважаючи, що вони неефективні. Це можливо у тому випадку, якщо викладач не вміє організувати навчання через Скайп, та й сам негативно ставиться до сучасних технологій. Тому пропонуємо Вам безкоштовно спробувати займатись через Скайп, зареєструвавшись на пробне 30-хвилинне заняття та познайомитись з викладачем</p>
<p>Також пропонуємо заняття по Скайпу з носієм мови!</p>
