<h2>Спеціальні програми на літо</h2>
<p>Для дорослих та підлітків пропонуємо літні інтенсивні курси та клуби.</p>
<p>Щодо школярів, то розуміємо, що заставити дитину вчитись літом-дуже важно, та й навіть шкідливо, бо можна відбити бажання до навчання взалагі. Тому пропонуємо розмовні заняття. Без домашніх завдань та завчання слів. На заняттях викладач разом з учнями розігрує перні сцени з повсякденного життя, діти вчаться порозумітись один з одним в різних ситуаціях, таких як, в супермаркеті, аеропорту, музеї.</p>
