<h2>Підготовка до ЗНО</h2>

<p>Готуємо до здачі Зовнішнього Незалежного Оцінювання з англійської мови 2014 року. </p>
<p>З 2018 року ЗНО з іноземної мови буде обов’язковим, тому радимо подумати про це завчасно і не відкладати все на останній рік, особливо,
  якщо рівень учня - невисокий. Пропонуємо різні курси, розраховані на слухачів з різними рівнями знань. </p>
<p>Стандартний курс підготовки триває 8 місяців. Заняття двічі на тиждень по 1,5 год. В групі підготовки до ЗНО-не більше 3 осіб,
  ми розуміємо всю важливість цього екзамену, тому вирішили не набирати великих груп, де викладач не може приділити достатньої уваги всім учням.  </p>
<p>Також пропонуємо курси для старшокласників, які спрямовані для покращення загального рівня володіння мови, та інтенсив на літні канікули та курс підготовки до здачі ДПА.</p>
<p>Нагадуємо, викладачі, що готують учнів до ЗНО, всі з досвідом роботи, перед початком навчання запрошуємо Вас поспілкуватись з викладачем про те, як проходить підготовка
  та отримати відповіді на інші ваші запитання.</p>
  
