<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color:  #DCDCDC;">
  <!-- <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarNav">&#9776;</button> -->
  <a class="navbar-brand" href="#">Sweet mango</a>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="nav nav-pills nav-fill">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
